# Assignment 3

## Functions

In [1]:
# Q1
def greet(name):
    print(f"Hello, {name}")

greet("Harshit")

Hello, Harshit

In [2]:
# Q2
def cube(n):
    return n ** 3
cube(5)

125

In [3]:
# Q3

def sum_list(lst):
    total = 0 
    for i in range(len(lst)):
        total += lst[i]
    return total
sum_list([1,2,3,4,5,6])

21

In [4]:
# Q4
def average(a, b, c):
    return (a + b + c)/3

average(10,55,34)

33.0

In [5]:
# Q5
def min_of_two(a,b):
    return min(a,b)

min_of_two(55,61)

55

In [6]:
# Q6

In [7]:
# Q7
def count_words(s):
    count = 0
    for i in range(len(s)):
        if s[i] == " ":
            continue
        else:
            count += 1
    return count

count_words("This function counts the words in a string")

35

In [8]:
# Q8
def last_char(s):
    return s[-1]

last_char("This function returns the last char in a string")

'g'

## Tuples

In [9]:
# Q9
tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [10]:
# Q10
tup1 = (10, 20, 30, 40, 50)
print(tup1[2])

30

In [11]:
# Q11
print(len(tup1))

5

In [12]:
# Q12
tup2 = (1, 2, 3)
lst1 = list(tup2)
print(lst1)

[1, 2, 3]

In [13]:
# Q13
tup3 = (4, 5, 6)
tup4 = tup2 + tup3
print(tup4)

(1, 2, 3, 4, 5, 6)

In [ ]:
# Q14
x = int(input())
res = "True" if x in tup4 else "False"
print(res)

## Dictionaries

In [ ]:
# Q15
dict1 = {"Apple" : 200, "Mango": 250, "Banana": 80}
print(dict1)

In [ ]:
# Q16
print(dict1.values())

In [ ]:
# Q17
dict1["Orange"] = 100
dict1.update({"Kiwi": 300})
print(dict1)

In [ ]:
# Q18
dict2 = {"name": "Rahul", "age": 22}
print(dict2["name"])

In [ ]:
# Q19
dict1.pop("Kiwi")
print(dict1)

In [ ]:
# Q20
i = 1
res1 = {}
for i in range(1,6):
    res1.update({i : i ** 2})
print(res1)

In [ ]:
# Q21
# Method 1
print(len(dict1))

# Method 2
count = 0
for key in dict1:
    count += 1
print(count)

In [ ]:
# Q22
dict3 = {'Apple': 2, 'Banana': 5, 'Mango': 7}
dict3['Banana'] = 2
print(dict3)