# Assignment 2

## Sets

In [1]:
# Q1 Set with numbers from 1 to 5
first_set = {1,2,3,4,5}
print(first_set)

first_set.add(6)
first_set.remove(3)
print(first_set)

{1, 2, 3, 4, 5}
{1, 2, 4, 5, 6}

In [2]:
# Q2
set1 = {1,2,3}
set2 = {3,4,5}

print("Union -> ", set1 | set2)
print("Intersection -> ", set1 & set2)

print("other method")
print("Union -> ", set1.union(set2))
print("Intersection -> ", set1.intersection(set2))

Union ->  {1, 2, 3, 4, 5}
Intersection ->  {3}
other method
Union ->  {1, 2, 3, 4, 5}
Intersection ->  {3}

In [3]:
# Q3
list1 = [1,2,2,3,4,4,5]
set3 = set(list1)
print(set3)

{1, 2, 3, 4, 5}

In [4]:
# Q4
set4 = {1,3,5,7,9}

print("Existance of 7 - ", 7 in set4)

Existance of 7 -  True

In [5]:
# Q5
set5 = {1, 3, 5, 7, 9}
set6 = {1, 2, 3, 4, 5}

print("Symmetric Difference - ", set5 ^ set6)

Symmetric Difference -  {2, 4, 7, 9}

## Dictionaries

In [6]:
# Q6

dict_stu = {"Harshit" : 96, "Yogesh" : 94, "Vedant" : 92}
key_values = dict_stu.keys()
print(key_values)

dict_keys(['Harshit', 'Yogesh', 'Vedant'])

In [7]:
# Q7
dict1 = {"a": 1, "b": 2, "c": 3}
dict1["b"] = 5
print(dict1.items())

dict_items([('a', 1), ('b', 5), ('c', 3)])

In [8]:
# Q8
str = "hello world"
freq = {}

for char in str:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print(freq)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [9]:
# Q9
dict1 = {"x" : 10, "y" : 20}
dict2 = {"y" : 30, "z" : 40}

dict1.update(dict2)
print(dict1)

{'x': 10, 'y': 30, 'z': 40}

In [10]:
# Q10
dict1 = {"a": 1, "b": 2, "c": 3}
default = 0
if "d" in dict1:
    print("Key named 'd' exist in dict1")
else:
    dict1.update({"d" : default})

print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 0}

## Functions

In [11]:
# Q11
def greet():
    print("Hello, Python!")

greet()

Hello, Python!

In [12]:
# Q12
def square(n):
    return n**2

square(8)

64

In [13]:
# Q13
def list_sum(lst):
    total = 0
    for i in lst:
        total += i
    return total
list2 = [1,2,2,3,4,4,5]
list_sum(list2)

21

In [14]:
# Q14
def welcome(name = "Guest"):
    print(f"Welcome, {name}")

welcome("Harshit")
welcome()

Welcome, Harshit
Welcome, Guest

In [15]:
# Q15
def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

print(is_even(248))
print(is_even(343))

True
False

In [16]:
# Q16
def factorial(num):
    result = num
    if num > 1:
        result *= factorial(num-1)
    elif num == 0 or num == 1:
        result = 1
    return result
        
factorial(6)

720

In [17]:
# Q17
# method 1 using if else statements
def max_of_three(a, b, c):
    if a>=b and a>=c:
        return a
    elif b>=a and b>=c:
        return b
    else:
        return c


# method 2 using max() function
def max_of_three2(a, b, c):
    return max(a, b, c)
    
print(max_of_three(56,66,24))
print(max_of_three2(78,25,634))

66
634

In [18]:
# Q18

def reverse_string(s):
    print(s[::-1])

reverse_string("This is a function to reverse the string")

gnirts eht esrever ot noitcnuf a si sihT

In [19]:
# Q19
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

count_vowels("This is a function to count vowels")

11

In [20]:
# Q20
def n_sum(*args):
    total = 0
    for num in args:
        total += num
    return total

n_sum(1, 2, 3, 4, 5)

15

## Loops

In [21]:
# Q21

for i in range(1,11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [22]:
# Q22

for i in range(1,11):
    print(5*i, end = " ")

5 10 15 20 25 30 35 40 45 50

In [23]:
# Q23

list3 = [10, 20, 30, 40]
'''for num in list3:
    print(num)'''
[print(x) for x in list3]

10
20
30
40

[None, None, None, None]

In [24]:
# Q24

total = 0
for i in range(1,101):
    total += i
print(total)

5050

In [25]:
# Q25
for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [26]:
# Q26

str1 = "Python"
for char in str1:
    print(char)

P
y
t
h
o
n

In [27]:
# Q27

n = int(input("Enter the num: "))
factorial = 1
for i in range(1,n+1):
    factorial *= i

print(factorial)

Enter the num:  6

720

In [28]:
# Q28

## Method 1
list4 = [1, 2, 3, 4, 5]
reversed_list = []
for i in range(len(list4),0,-1):
    reversed_list.append(i)
print(reversed_list)

## Method 2
list41= [1, 2, 3, 4, 5]
res = []
for i in list4:
    res.insert(0,i)

print(res)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [29]:
# Q29
count_odd = 0
for i in range(1,51):
    if i % 2 != 0:
        count_odd += 1
        print(i, end=" ")

print("\n", count_odd, sep="")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49
25

In [30]:
# Q30
list5 = [5, -4, 2, 89, -100, -33, 121]

for i in list5:
    if i > 0:
        print(i, end=" ")

5 2 89 121

## While Loops

In [31]:
# Q31

n = 1
while n <= 10:
    print(n, end = " ")
    n = n + 1

1 2 3 4 5 6 7 8 9 10

In [32]:
# Q32

num = int(input("Enter the number: "))
sum = 0
while num > 0:
    sum += num % 10
    num //= 10
    
print(sum)

Enter the number:  354

12

In [33]:
# Q33

num = int(input("Enter the number: "))
rev = 0

while num > 0:
    digit = num % 10
    rev = (rev * 10) + digit
    num //= 10
print(rev)

Enter the number:  678

876

In [34]:
# Q34

while n != "exit":
    n = input()

 exit

In [35]:
# Q35

n = int(input("Multiplication Table of: "))

i = 1
while i <= 10:
    print(n * i, end = " ")
    i += 1

Multiplication Table of:  5

5 10 15 20 25 30 35 40 45 50

In [36]:
# Q36
count = 0
num = 0
while count < 10:
    print(num)
    count += 1
    num += 2

0
2
4
6
8
10
12
14
16
18

In [37]:
# Q37

n = int(input("Enter the number: "))
res = 1
while n > 0:
    res *= n
    n -= 1
print(res)

Enter the number:  7

5040

In [38]:
# Q38

num = int(input("Enter the number: "))
count = 0
while num > 0:
    digit += num % 10
    count += 1
    num //= 10
    
print(count)

Enter the number:  987654321

9

In [39]:
# Q39

num = int(input())
print(f"Fibonacci sequence upto {num} terms")
count = 0
n1 = 0
n2 = 1
while count <= num:
    print(n1, end = " ")
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    count += 1

 10

Fibonacci sequence upto 10 terms
0 1 1 2 3 5 8 13 21 34 55

In [40]:
# Q40

while n != "python123":
    n = input("Enter the correct password: ")

Enter the correct password:  python123

## Conditional Statements

In [41]:
# Q41

n = int(input())

if n < 0:
    print("negative")
elif n == 0:
    print("Zero")
else:
    print("Positive")

 -8520

negative

In [42]:
# Q42

year = int(input())
if year < 1000:
    print("Invalid Input")
elif year % 100 == 100 and year % 400 == 0:
    print("Leap year")
elif year % 100 != 0 and year % 4 == 0:
    print("Leap Year")
else:
    print("Not a Leap Year")

 2024

Leap Year

In [43]:
# Q43

vowels1 = "aeiouAEIOU"
char1 = input("Enter a character: ")
single_char = char1[0]
if single_char in vowels1:
    print("Vowel")
else:
    print("Consonant")

Enter a character:  g

Consonant

In [44]:
# Q44

n = int(input("Enter the number: "))
if n % 3 == 0 and n % 5 == 0:
    print(f"{n} is Divisible by both 3 and 5")
else:
    print(f"{n} is Not Divisible by both 3 and 5")

Enter the number:  65

65 is Not Divisible by both 3 and 5

In [45]:
# Q45

age = int(input("Enter your age: "))
if age >= 18:
    print("You are Eligible to Vote")
else:
    print("Not Eligible")

Enter your age:  22

You are Eligible to Vote

In [46]:
# Q46
a = int(input("Enter first num: "))
b = int(input("Enter second num: "))
c = int(input("Enter third num: "))

if a >= b and a >= c:
    print(a)
elif b >= a and b >= c:
    print(b)
else:
    print(c)

Enter first num:  55
Enter second num:  68
Enter third num:  11

68

In [47]:
# Q47

mark = int(input("Enter you marks: "))

if mark >= 90:
    print('A')
elif mark >= 75 and mark <= 89:
    print('B')
elif mark >= 60 and mark <= 74:
    print('C')
else:
    print('F')

Enter you marks:  88

B

In [48]:
# Q48

pal_string = input()
rev_string = pal_string[::-1]
if pal_string == rev_string:
    print("String is Palindrome")
else:
    print("Not a Palindrome")

 abaa

Not a Palindrome

In [49]:
# Q49

n = int(input())

if n % 2 == 0:
    print("Even")
else:
    print("Odd")

 29

Odd

In [50]:
# Q50
N1 = int(input("N1 = "))
N2 = int(input("N2 = "))

choice = input("Choose add or sub: ")

if choice == "add":
    print(N1 + N2)
elif choice == "sub":
    print(N1 - N2)
else:
    print("Invalid Choice")

N1 =  5
N2 =  2
Choose add or sub:  sub

3

## Operators

### Arithmetic Operators

In [51]:
# Q51
num1 = int(input("Num1: "))
num2 = int(input("Num2: "))

print("Sum->", num1 + num2)
print("Diff->", num1 - num2)
print("Product->", num1 * num2)
print("Quotient->", num1 // num2)
print("Remainder->", num1 % num2)

Num1:  89
Num2:  98

Sum-> 187
Diff-> -9
Product-> 8722
Quotient-> 0
Remainder-> 89

In [52]:
# Q52
a, b = 2, 5
print(a ** b)

32

In [53]:
# Q53
radius = int(input("Enter the Radius: "))
pi = 3.14
area = float(pi * radius ** 2)
print(area)

Enter the Radius:  2

12.56

In [54]:
# Q54
total = 0
for i in range(1,6):
    marks = int(input(f"Enter marks for {i}st Subject"))
    total += marks
print(total / 5)

Enter marks for 1st Subject 10
Enter marks for 2st Subject 5
Enter marks for 3st Subject 5
Enter marks for 4st Subject 20
Enter marks for 5st Subject 10

10.0

In [55]:
# Q55

temp_c = int(input("Enter the temperature in Celsius: "))
temp_f = temp_c * (9/5) + 32
print(temp_f)

Enter the temperature in Celsius:  40

104.0

### Bitwise Operators

In [56]:
# Q56

a, b = 5, 3
print("a & b-> ", a & b, ", a | b-> ", a | b, ", a ^ b-> ", a ^ b, sep = "")

a & b-> 1, a | b-> 7, a ^ b-> 6

In [57]:
# Q57
x = 8
res = x << 2
print(res)
print(bin(res))

32
0b100000

In [58]:
# Q58
x = int(input("Enter the number: "))
if x & 1 == 0:
    print("Even")
else:
    print("Odd")

Enter the number:  24

Even

In [59]:
# Q59
a = int(input("a = "))
b = int(input("b = "))

a = a ^ b
b = a ^ b # b is now original_a
a = a ^ b # (original_a ^ original_b) ^ new_b(which is equal to original a) hence it cancel outs due to functionality of XOR function and final output is swapped numbers
print(f"After swap \n a = {a} \n b = {b}")

a =  58
b =  64

After swap
 a = 64
 b = 58

In [60]:
# Q60
n = int(input())
print(~n) 
print("It performs bitwise 2's Complement and convert it to integer")

 10

-11
It performs bitwise 2's Complement and convert it to integer

### Conditional (Ternary) Operators

In [61]:
# Q61
a = int(input())
b = int(input())
greater_num = a if a > b else b
print(greater_num)

 85
 69

85

In [62]:
# Q62
a = 9
res = "even" if a % 2 == 0 else "odd"
print(res)

odd

In [63]:
# Q63
marks = 50
result = "Pass" if marks >= 40 else "Fail"
print(result)

Pass

In [64]:
# Q64

a = int(input())
b = int(input())
c = int(input())
smallest_num = a if a <= b and a<=c else (b if b <= a and b <= c else c)
print(smallest_num)

 7
 8
 9

7

In [65]:
# Q65 
chr1 = input()
check_case = "Uppercase" if chr1[0].isupper() else "lowercase"
print(check_case)

 H

Uppercase