# Assignment 4

## Numbers/Loops

In [1]:
# Q1
import math
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2,int(math.sqrt(n) + 1)):
        if n % i == 0:
            return False
    return True

def prime_in_range(n1,n2):
    for i in range(n1,n2):
        if is_prime(i):
            print(i, end=" ")
prime_in_range(2,100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [2]:
# Q3
def is_armstrong(n):
    x = n
    total = 0
    while x > 0:
        digit = x % 10
        total += (digit ** len(str(n)))
        x //= 10

    if total == n:
        return True
    else:
        return False

def armstrong_range(n1,n2):
    for i in range(n1,n2):
        if is_armstrong(i):
            print(i, end=" ")

armstrong_range(1,1000)

1 2 3 4 5 6 7 8 9 153 370 371 407

In [3]:
# Q4

def factorial(n1):
    if n1 < 0:
        print("Invalid Input")
    
    if n1 == 0 or n1 == 1:
        return 1
    else:
        return n1 * factorial(n1-1)

def is_strong_num(n):
    x = n
    total = 0
    while x > 0:
        digit = x % 10
        total += factorial(digit)
        x //= 10
        
    if total == n:
        return True
    else:
        return False
def strongnum_range(n1,n2):
    for i in range(n1,n2):
        if is_strong_num(i):
            print(i, end=" ")
strongnum_range(1,100000)

1 2 145 40585

In [4]:
# Q5
def n_prime(n):
    if n <= 0:
        return
        
    count = 0
    num = 2

    while count < n:
        if is_prime(num):
            print(num, end = " ")
            count += 1
        num += 1 

n_prime(10)

2 3 5 7 11 13 17 19 23 29

In [5]:
# Q9
def Hniven_num(n):
    x = n
    total = 0
    while x > 0:
        digit = x % 10
        total += digit
        x //= 10
        
    if n % total == 0:
        return True
    else:
        return False

def Hniven_range(n1,n2):
    for i in range(n1,n2):
        if Hniven_num(i):
            print(i, end=" ")
Hniven_range(1,100)

1 2 3 4 5 6 7 8 9 10 12 18 20 21 24 27 30 36 40 42 45 48 50 54 60 63 70 72 80 81 84 90

In [6]:
# Q10
def sos_digit(n):
    x = n
    total = 0
    while x > 0:
        digit = x % 10
        total += (digit ** 2)
        x //= 10
    return total

sos_digit(2456)

81

## Pattern

In [7]:
# Q16
n = int(input("Enter the number of rows: "))
for rows in range(1, n+1):
    for cols in range(1, rows + 1):
        print("*", end = " ")
    print()

Enter the number of rows:  5

*
* *
* * *
* * * *
* * * * *

In [8]:
# Q17
val = 1
for rows in range(n):
    for space in range(n - rows):
        print("", end=" ")
    for cols in range(rows + 1):
        print(val , end = " ")
        val += 1
    print()

     1
    2 3
   4 5 6
  7 8 9 10
 11 12 13 14 15

In [9]:
for rows in range(n):
    val = 1
    for space in range(n - rows):
        print("", end=" ")
    for cols in range(rows + 1):
        print(val, end = " ")
        val = val * (rows - cols) // (cols + 1)
    print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [10]:
# Q19
x = int(input("Enter the number to get the multiplication table: "))
for i in range(1,x+1):
    for j in range(1,x+1):
        print(i*j , "\t", end = " ")
    print()

Enter the number to get the multiplication table:  5

1 	 2 	 3 	 4 	 5
2 	 4 	 6 	 8 	 10
3 	 6 	 9 	 12 	 15
4 	 8 	 12 	 16 	 20
5 	 10 	 15 	 20 	 25

In [11]:
# Q20
for rows in range(n):
    for cols in range(rows + 1):
        print(rows + 1, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5